// CARDS
.card {
    background-color: $white;
    transition: all 0.3s ease-in-out;
    font-family: sans-serif;
  }
  
  .card-article-wide {
    overflow: hidden
  }
  
  .card-article-wide .card-img-top {
    height: 100%;
    object-fit: cover
  }
  
  @media (min-width:768px) {
    .card-article-wide {
        min-height: 22.5rem
    }
  
    .card-article-wide .card-img-top {
        border-radius: .625rem 0 0 .625rem
    }
  }
  
  .card {
    margin-bottom: 1.5rem
  }
  
  .card.card-sm.card-body {
    padding: 1.5rem
  }
  
  .card[class*=bg-primary]:not([class*=hover-bg-primary]) {
    border-color: transparent
  }
  
  .card[class*=hover-] {
    transition: background-color .2s ease, box-shadow .2s ease, transform .2s ease
  }
  
  .card>.bg-image {
    border-radius: .625rem
  }
  
  @media (min-width:576px) {
    .card.card-lg.card-body {
        padding: 3rem
    }
  }
  
  @media (max-width:767.98px) {
    .card {
        margin-bottom: .75rem
    }
  }