// COLORS
// MY THEME COLORS 
$pink-light: #ffa8ba;
$purple-light: rgba(185, 174, 204, 1);
$green-dark: #00473e;
$green-light: #00a99d;
$offwhite: #f2f7f5;
$yellow: #faae2b;

//////////////////////
// BOOTSTRAP OVERRIDES
//////////////////////

$primary: $green-dark;
$secondary: $green-light;