// IMPORT BOOTSTRAP ( The entire bootstrap with everything)
@import "../bootstrap/scss/bootstrap.scss";
@import "../aos/sass/aos.scss";

@import "_variables.scss";
@import "_cards.scss";
@import "_featurette.scss";
@import "_navbar.scss";
@import "_typography.scss";
@import "_utils.scss";
@import "_waves.scss";
@import "_hero.scss";
@import "_text-section.scss";
@import "_footer.scss";
@import "_P01.scss";
@import "_parallax.scss";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

// BODY
html {
    overflow-x: hidden;
}

body {
    background-color: $offwhite;
    font-family: 'PT Serif', serif;
    font-size: 1.3rem;
    color: $green-dark;
    line-height: 1.5;
    letter-spacing: 1px;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}

.home-card {
    max-width: 400px;
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;
}

.home-card img {
    transition: all linear 0.25s;
}

.home-card .card-title {
    position: absolute;
    left: 30px;
    bottom: 35px;
    font-size: 30px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.home-card .card-subtitle {
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: #FFF;
    font-size: 13px;
    transition: all linear 0.25s;
}

.home-card:hover img {
    filter: grayscale(20%);
    scale: 1.01;
}

// .home-card:hover .card-title {
//     bottom: 80px;
// }

// .home-card:hover .card-subtitle {
//     bottom: 60px;
// }