// IMPORT BOOTSTRAP ( The entire bootstrap with everything)
@import "../bootstrap/scss/bootstrap.scss";
@import "../aos/sass/aos.scss";

@import "_variables.scss";
@import "_cards.scss";
@import "_featurette.scss";
@import "_navbar.scss";
@import "_typography.scss";
@import "_utils.scss";
@import "_waves.scss";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

// BODY
html{
    overflow-x: hidden;
}

body {
    background-color: $offwhite;
    font-family: 'PT Serif', serif;
    font-size: 1.3rem;
    color: $green-dark;
    line-height: 1.5;
    letter-spacing: 1px;
    padding-bottom: 10rem;
    overflow-x:hidden;
    width: 100%;
    max-width: 100%;
}

// SITE SECTIONS
.text-section {
    z-index: 3333;
    max-width: 50rem;

    h1 {
        font-weight: bold;
    }

    img {
        margin-top: 2.5rem;
        width: 100%;
        width: auto;
    }

    .figure-caption {
        font-size: medium;
        font-family: "PT Sans", sans-serif;
        margin-bottom: 2.5rem;
    }

    @include media-breakpoint-up(lg) {
        img {
            margin-left: -3rem;
            max-width: 56rem;
            min-width: 56rem;
        }

        .figure-caption {
            margin-left: -3rem;
        }
    }
}

@include media-breakpoint-up(lg) {
    .text-section {
        padding: 0;
    }
}

.hero-section {
    min-height: 95vh;
    overflow-x: hidden;
    width: 100%;
}

.parallax-section{
    position: relative;
    width: 100%;
}

.bg-leaf{
    background-image: url("http://bgfons.com/uploads/leaves/leaves_texture1469.jpg");
    opacity: 0.2;
}

.leaf{
    position: absolute;
    z-index: 2222;

    &-000 {
        width: 30%;
        right: -50px;
        bottom: -400px;
    }

    &-001 {
        width: 30%;
        right: -50px;
        bottom: -230px;
    }

    &-002 {
        width: 15%;
        left: -50px;
        bottom: -150px;
    }
}

.blob{
    position: absolute;
    z-index: 2222;

    &-001 {
        width: 35%;
        right: -150px;
        bottom: -400px;
    }

    &-002 {
        width: 25%;
        left: -120px;
        bottom: -550px;
    }
}

.blob-rabisco{
    position: absolute;
    z-index: 2222;
    width: 15%;
    left: -130px;
    bottom: -450px;
}

// BODY LINK HOVER
a {
    background:
        linear-gradient(to bottom,
            $primary 0%,
            $primary 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: $primary;
    text-decoration: none;
    transition: background-size .2s;
}

a:hover {
    background-size: 4px 50px;
    color: $offwhite;
}

.text-clima{
    background: rgb(61,58,180);
    background: linear-gradient(180deg, rgba(206,210,234,1.0) 0%, rgb(238, 235, 232) 100%);
    padding-top: 5rem;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}